/* GLOBAL */
:root {
  --primary-color: #646cff;
}

#root {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  flex-grow: 1;
  width: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 1080px;
  padding: 0 1rem 5rem 1rem;
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
}

.content-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

h1 {
  top: 0px;
  margin: 0.5rem 0;
}

.card-container {
  display: grid;
  flex-grow: 1;
  gap: 1rem;
  margin-top: 1rem;
  grid-template-columns: 1.25fr auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'character chalice effects'
    'relics relics effects';
}

.card {
  border: 1px solid #555;
  border-radius: 8px;
  padding: 0.7rem;
  margin: 0;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card h2 {
  margin: 0;
}

.card-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}

.card-button {
  background: none;
  border: 1px solid #555;
  color: #ccc;
  font-size: 0.75em;
  padding: 0.2em 0.6em;
  border-radius: 4px;
}

.card-button:hover {
  border-color: var(--primary-color);
}

.button-group {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  gap: 0.1rem;
}

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4em;
}

.icon-button svg {
  color: #ccc;
}

button {
  display: flex;
}

button:focus,
button:focus-visible {
  outline: none;
}

button:disabled {
  background-color: #333;
  color: #777;
  cursor: not-allowed;
  border-color: #555;
}

button:disabled:hover {
  border-color: #555;
}

button:disabled svg {
  color: #777;
}

button:hover {
  border-color: var(--primary-color);
}


.error-popup {
  position: fixed;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ff4d4d;
  color: white;
  padding: 1rem 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 1001;
  animation: fadeInOut 5s forwards;
}

.loader {
  border: 2px solid #f3f3f3;
  border-top: 2px solid var(--primary-color);
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite;
}

.floating-checkbox {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: rgba(26, 26, 26, 0.8);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: 1px solid #555;
}

.floating-button {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1001;
  background-color: rgba(26, 26, 26, 0.8);
  border: 1px solid #555;
  border-radius: 50%;
  font-size: 1.5rem;
  color: #ccc;
  cursor: pointer;
  line-height: 0;
  padding: 0.25rem 0.25rem;
}

.corner-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: rgba(40, 40, 40, 0.8);
  border: 1px solid #555;
  border-radius: 50%;
  font-size: 1.5rem;
  color: #ccc;
  cursor: pointer;
  line-height: 0;
  padding: 0.25rem 0.25rem;
}

/* CHARACTER CARD */
#character-card {
  grid-area: character;
}

.character-image-wrapper {
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 6px;
  box-sizing: border-box;
  display: inline-flex;
}

.character-image-wrapper.selected {
  border-color: var(--primary-color);
}

.image-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 1rem;
}

/* CHALICE BUTTON */
#chalice-card {
  grid-area: chalice;
  width: fit-content;
  align-self: stretch;
}

.chalice-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.chalice-preview-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.3rem;
  padding: 1rem;
}

.chalice-preview-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

#chalice-card:not(.disabled):hover {
  border-color: var(--primary-color);
}

/* CHALICE PAGE */
.chalice-page-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.chalice-page {
  width: 80%;
  max-width: 900px;
  max-height: 80vh;
  overflow-y: auto;
}

.chalice-page .card-header {
  position: sticky;
  top: 0;
  background-color: #1a1a1a;
  z-index: 1;
}

#chalice-card {
  grid-area: chalice;
}

.chalice-card-header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}

.chalice-button-group {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

#chalice-card.disabled {
  background-color: #333;
  color: #777;
}

.chalice-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-top: auto;
  margin-bottom: auto;
}

.chalice-grid p {
  margin: 0;
}

.chalice {
  border: 1px solid #555;
  border-radius: 4px;
  padding: 0.2rem;
  cursor: pointer;
}

.chalice.selected {
  border-color: var(--primary-color);
}

.relic-slots {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

/* RELICS CARD */
#relics-card {
  grid-area: relics;
}

#relics-card.disabled {
  background-color: #333;
  color: #777;
  cursor: not-allowed;
}

#relics-card.disabled .relic-result-container img {
  filter: grayscale(100%);
}

/* DESIRED EFFECTS CARD */
#effects-card {
  grid-area: effects;
}

#effects-card .search-container {
  position: relative;
  width: 100%;
}

#effects-card input {
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
  background-color: #242424;
  border: 1px solid #555;
  border-radius: 4px;
  color: #fff;
  font-size: 1em;
}

#effects-card h2 {
  margin-bottom: 1rem;
}

.effects-list-container {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 500px;
  overflow-y: auto;
  background-color: #1a1a1a;
  border: 1px solid #555;
  border-top: none;
  border-radius: 0 0 4px 4px;
  z-index: 10;
  text-align: left;
}

.effects-category h3 {
  background-color: #333;
  color: #fff;
  padding: 0.5rem;
  margin: 0;
  font-size: 1em;
  position: sticky;
  top: 0;
}

.effects-category ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.effects-category li {
  padding: 0.5rem;
  border-bottom: 1px solid #333;
  cursor: pointer;
  font-size: 0.9em;
}

.effects-category li:hover {
  background-color: var(--primary-color);
}

.effects-category li:last-child {
  border-bottom: none;
}

.selected-effects-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  overflow-y: auto;
}

.selected-effects-container.reordering .effect-card {
  animation: subtle-pulse 0.3s ease-in-out;
}

.effect-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #242424;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  border: 1px solid #555;
}

.effect-name {
  text-align: left;
  margin-right: 0.5rem;
  font-size: 0.9em;
}

.effect-controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.effect-icons {
  display: flex;
  gap: 0.25rem;
}

.weight-control {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.weight-control input {
  width: 60px !important;
  text-align: center;
  background-color: #333;
  border: 1px solid #555;
  color: #fff;
  border-radius: 4px;
}

.weight-control input::-webkit-outer-spin-button,
.weight-control input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.weight-control input[type="number"] {
  -moz-appearance: textfield;
  /* spinner suppression for firefox */
}

.icon-button.required svg {
  fill: var(--primary-color);
}

.icon-button.forbidden svg {
  color: #ff4d4d;
}

.group-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.group-header:hover {
  background-color: transparent !important;
}

.group-header-controls {
  display: flex;
  align-items: center;
}

.select-all-button {
  margin-right: 0.5rem;
}

.group-item.hovered {
  background-color: var(--primary-color) !important;
}

.arrow {
  transition: transform 0.2s;
}

.arrow.expanded {
  transform: rotate(180deg);
}

.effects-category .sub-list {
  margin-top: 5px;
  list-style-type: none;
}

.effects-category .sub-list li {
  padding: 0.5rem;
  border-bottom: 1px solid #333;
  cursor: pointer;
  font-size: 0.9em;
}

.effects-category .sub-list li:hover {
  background-color: var(--primary-color) !important;
}

.effects-category>ul>li:not(.group-item):hover {
  background-color: var(--primary-color) !important;
}

.effects-category>ul>li.group-item:hover:not(.hovered) {
  background-color: transparent !important;
}

/* NAME SAVE CARD */
.save-build-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.save-build-card {
  padding: 2rem;
  width: 300px;
}

.save-build-card input {
  width: 100%;
  padding: 0.5rem;
  margin-top: 1rem;
  box-sizing: border-box;
}

.save-build-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}


/* BOTTOM BAR */
.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #1a1a1a;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
}

.bottom-bar button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
}

.bottom-bar-effects {
  margin-top: auto;
  /* Push to the bottom */
  padding-top: 0.5rem;
  border-top: 1px solid #555;
  display: flex;
  justify-content: center;
}

.bottom-bar .upload-button-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.bottom-bar .builds-button {
  position: absolute;
  right: 2rem;
}

.bottom-bar .relic-button {
  position: absolute;
  left: 2rem;
}

/* CHALICE RESULTS */
.chalice-result-card {
  font-size: x-large;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.chalice-result-card img {
  flex-shrink: 0;
}

#chalice-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.chalice-result-card .relic-slots-container {
  display: flex;
  justify-content: center;
  gap: 4rem;
  flex-grow: 1;
}

/* RELIC RESULTS */
.relic-result-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
  flex-grow: 1;
}


.relic-result-card,
.chalice-result-card {
  border: 1px solid #555;
  border-radius: 4px;
  background-color: #242424;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 0 0.5rem 1rem;
}

.relic-result-card>span {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;
  text-align: left;
  margin-left: 1rem;
}

.empty-relic-slot {
  justify-content: center !important;
  margin: auto;
}

.relic-result-card {
  display: flex;
  align-items: center;
  flex-grow: 1;
  font-size: large;
  justify-content: space-between;
  gap: 0;
}

.relic-result-card.color-red {
  background-color: #4d2d2d;
}

.relic-result-card.color-blue {
  background-color: #2d3b4d;
}

.relic-result-card.color-yellow {
  background-color: #4d4d2d;
}

.relic-result-card.color-green {
  background-color: #2d4d2d;
}

.relic-result-card.color-white {
  background-color: #4d4d4d;
}

.relic-slots-container img {
  scale: 2.25;
}

.relic-result-card img {
  transform: scale(1.7);
}

.relic-stats-table {
  width: 66%;
  border-collapse: collapse;
  flex-shrink: 0;
  margin-left: 0;
}

.relic-stats-table td {
  border: 1px solid transparent;
  padding: 0.2rem 0.5rem;
  text-align: left;
  font-size: 0.8em;
  flex-shrink: 0;
}

.info-button {
  display: flex;
  background: rgba(40, 40, 40, 0.8);
  border: 1px solid #555;
  border-radius: 50%;
  font-size: 1.5rem;
  color: #ccc;
  cursor: pointer;
  line-height: 0;
  padding: 0.25rem 0.25rem;
  margin-right: 1rem;
}

.centered-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
}

.centered-text-container p {
  font-size: xx-large;
  margin: 0.5rem 0;
}

/* RELICS PAGE */
.relic-page-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.relic-page {
  width: 80%;
  max-width: 900px;
  max-height: 80vh;
  overflow-y: auto;
}

.relic-page .card-header {
  position: sticky;
  top: 0;
  background-color: none;
  z-index: 1;
}

.character-relics {
  margin-bottom: 1.5rem;
}

.character-relics h3 {
  text-align: left;
  border-bottom: 1px solid #555;
  padding-bottom: 0;
  margin: 0.5rem;
}

.relics-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.relic-card {
  border: 1px solid #555;
  border-radius: 4px;
  padding: 1rem;
  background-color: #242424;
}

.relic-card h4 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1em;
}

.relic-card ul {
  padding-left: 1.2rem;
  margin: 0;
  font-size: 0.85em;
}

.relic-card li {
  text-align: left;
}

.relic-card.color-red {
  border-left: 5px solid #ff4d4d;
}

.relic-card.color-blue {
  border-left: 5px solid #4d94ff;
}

.relic-card.color-yellow {
  border-left: 5px solid #ffff4d;
}

.relic-card.color-green {
  border-left: 5px solid #4dff4d;
}

.relic-card.color-white {
  border-left: 5px solid #ffffff;
}

.relic-color-filters {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.color-filter-card {
  border: 1px solid #555;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  opacity: 0.7;
}

.color-filter-card.checked {
  border-width: 2px;
  opacity: 1;
}

.color-filter-card.color-red {
  background-color: #4d2d2d;
  border-color: #ff4d4d;
  width: 50px;
}

.color-filter-card.color-blue {
  background-color: #2d3b4d;
  border-color: #4d94ff;
  width: 50px;
}

.color-filter-card.color-yellow {
  background-color: #4d4d2d;
  border-color: #ffff4d;
  width: 50px;
}

.color-filter-card.color-green {
  background-color: #2d4d2d;
  border-color: #4dff4d;
  width: 50px;
}


/* SETTINGS PAGE */
.settings-page-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.settings-page {
  width: 80%;
  max-width: 900px;
  max-height: 80vh;
  overflow-y: auto;
}

.settings-page h2 {
  margin-bottom: 1rem;
}

.settings-body {
  text-align: left;
  display: flex;
}

.settings-column {
  flex: 1;
  box-sizing: border-box;
}

.settings-option {
  margin: 10px;
  display: flex;
}

.color-picker-wrapper {
  display: inline-flex;
  align-items: center;
  border: 1px solid #555;
  border-radius: 8px;
  background-color: #1a1a1a;
  margin-right: 10px;
}

.color-picker-wrapper input[type="color"] {
  background-color: transparent;
  border: none;
  width: 40px;
  height: 25px;
  cursor: pointer;
  padding: 0;
}

.color-picker-wrapper input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

.color-picker-wrapper input[type="color"]::-webkit-color-swatch {
  border: 1px solid #555;
  border-radius: 4px;
}

.color-picker-reset {
  background: none;
  border: none;
  border-left: 1px solid #555;
  color: #ccc;
  cursor: pointer;
  padding: 0em 1em;
  font-size: 0.9em;
  border-radius: 0 7px 7px 0;

}

.color-picker-reset:hover {
  color: #646cff;
  border-color: #555;
  background-color: #2a2a2a;
}

/* UPLOAD TOOLTIP */
.upload-button-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-tooltip {
  position: absolute;
  bottom: calc(100% + 30px);
  left: 50%;
  transform: translateX(-50%);
  background-color: #3a3a3a;
  color: white;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid var(--primary-color);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  width: 600px;
  z-index: 1002;
  text-align: center;
}

.upload-tooltip::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 11.5px;
  border-style: solid;
  border-color: var(--primary-color) transparent transparent transparent;
}

.upload-tooltip::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: #3a3a3a transparent transparent transparent;
}

.tooltip-content .tooltip-main-text {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0 0 0.5rem 0;

}

.tooltip-content .underlined-text {
  border-bottom: 1px solid var(--primary-color);
}

.tooltip-content .tooltip-sub-text {
  font-size: 0.9em;
  color: #ccc;
  margin: 0;
}

.close-tooltip-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background: none;
  border: none;
  color: #ccc;
  cursor: pointer;
  padding: 0;
  width: 20px !important;
  height: 20px;
}

.close-tooltip-button:hover {
  color: white;
}

.close-tooltip-button svg {
  width: 100%;
  height: 100%;
}

/* INFO TOOLTIP */
.info-button-container {
  position: relative;
  display: flex;
  align-items: center;
}

.info-tooltip {
  position: absolute;
  right: calc(100% + 15px);
  top: 50%;
  transform: translateY(-50%);
  background-color: #3a3a3a;
  color: white;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid var(--primary-color);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  width: max-content;
  z-index: 1002;
  text-align: left;
}

.info-tooltip::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  border-width: 11.5px;
  border-style: solid;
  border-color: transparent transparent transparent var(--primary-color);
}

.info-tooltip::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent #3a3a3a;
}

.info-tooltip p {
  font-size: medium;
  margin: 0;
  text-align: center;
}

.code-inline {
  background-color: #2d333b;
  color: #c9d1d9;
  padding: 0.2em 0.5em;
  margin: 0 0.15em;
  font-size: 85%;
  border-radius: 6px;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  white-space: nowrap;
}

/* SAVED BUILDS PAGE */
.saved-builds-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.saved-builds-page {
  width: 80%;
  max-width: 600px;
  max-height: 80vh;
  overflow-y: auto;
}

.saved-builds-list {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.saved-build-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: #242424;
  border: 1px solid #555;
  border-radius: 4px;
}

.build-actions {
  display: flex;
  gap: 0.5rem;
}

.build-actions button {
  padding: 0.3em 0.6em;
}

/* TOAST NOTIFICATIONS */
.toast-container {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1002;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.toast {
  padding: 1rem 1.5rem;
  border-radius: 8px;
  color: white;
  font-weight: 500;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  animation: slideIn 0.5s forwards, slideOut 0.5s forwards 4.5s;
}

.toast-success {
  background-color: #4CAF50;
  /* Green */
}

.toast-error {
  background-color: #f44336;
  /* Red */
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transform: translateX(100%);
    opacity: 0;
  }
}


/* ANIMATIONS */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translate(-50%, 20px);
  }

  10% {
    opacity: 1;
    transform: translate(-50%, 0);
  }

  90% {
    opacity: 1;
    transform: translate(-50%, 0);
  }

  100% {
    opacity: 0;
    transform: translate(-50%, 20px);
  }
}

@keyframes subtle-pulse {
  0% {
    background-color: #242424;
  }

  50% {
    background-color: #2c2c31;
  }

  100% {
    background-color: #242424;
  }
}

/* RESOLUTIONS */
@media (min-height: 1081px) {
  .app-container {
    justify-content: center;
  }

  .content-wrapper {
    flex-grow: 0;
  }
}